<% form_for @user do |form| %>
  <p>
  <%= form.label :name %>
  <%= form.text_field :name %>
  </p>

  
  <p>
  <%= form.label :password %>
  <%= form.password_field :password %>
  </p>

  <p>
  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation %>
  </p>

  <%= link_to "Cancel", root_path %>
  <%= form.submit %>
<% end %>
