<% form_for @room do |form| %>
  <p>
  <%= form.label :participant_counts %>
  <%= form.text_field :participant_counts %>
  </p>

  <%= link_to "Cancel", root_path %>
  <%= form.submit %>
<% end %>

<div class="list">
  <%= render :partial => "room", :collection => @rooms %>
</div>
